.flex-list__container:after {
  content: "";
  flex: auto;
}

.task-detail__wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.task-detail__carousel {
  grid-column: 1 / 4;
  grid-row: 1;
}

.task-detail__aside {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.task-detail__content {
  grid-column: 1 / 4;
  grid-row: 3;
}

@media only screen and (min-width: 640px) {
  .task-detail__carousel {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .task-detail__aside {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .task-detail__content {
    grid-column: 1 / 3;
    grid-row: 2;
  }
}

.solution-item:hover {
  padding-bottom: 50%;
}

.markdown-view h1 {
  font-size: 1.875rem;
}

.markdown-view h2 {
  font-size: 1.5rem;
}

.markdown-view h3 {
  font-size: 1.25rem;
}

.markdown-view h4,
h5,
h6 {
  font-size: 1.125rem;
}

.markdown-view p {
  margin-top: 0.5rem;
}

.markdown-view ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

.markdown-view ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

.markdown-view pre {
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

button:focus {
  outline: 0 !important;
}
